@using Workflow.Domain.DTOs
@using Workflow.Domain.Entities
@using Workflow.Domain.Extensions
@using Workflow.UI.Helpers
@model PagedResult<Dossier>
@{
    Layout = "_ListLayout";
    ViewBag.Title = "Liste des dossiers";
    ViewBag.Breadcrumb = "Dossiers";
    ViewBag.ButtonLabel = "Nouveau dossier";
    ViewBag.controller = "Dossier";
    ViewBag.EnableFilters = true;
}

@section Table {
    <table class="table table-hover">
        <thead>
            <tr>
                <th>@Html.SortableColumn("Titre", "titre", ViewContext)</th>
                <th>@Html.SortableColumn("Service", "service", ViewContext)</th>
                <th>@Html.SortableColumn("Date", "date", ViewContext)</th>
                <th>Statut</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var d in Model.Items)
            {
                <tr data-id="@d.Id" style="cursor:pointer;" onclick="location.href='@Url.Action("Details", new { id = d.Id })'">
                    <td>@d.Titre</td>
                    <td>@d.ServiceTraitant?.Nom</td>
                    <td>@d.DateCreation.ToShortDateString()</td>
                    <td><span class="badge @BadgeHelper.GetBadgeClass(d.Statut)">@d.Statut.GetDisplayName()</span></td>
                </tr>
            }
        </tbody>
    </table>
}